/* The animation code */
@keyframes rolling_circle {
    from {
    	margin-left: 100%;
    	margin-right: 0%;
    }
    to {
    	margin-right: 100%;
    	margin-left: 0%;
    }
}

@keyframes rolling_banner {
    from {
    	margin-left: 100%;
    	margin-right: 0%;
        margin: 0 auto;
        display: block;
        text-align: center;
    	transform: rotate(360deg);
    }
    to {
    	margin-right: 100%;
    	margin-left: 0%;
        margin: 0 auto;
        display: block;
        text-align: center;
    	transform: rotate(0deg);
    }
}

.animation_container {
	height: 200px;
	width: 200px;
	background-color: red;
	border-radius: 200px;
    animation-name: rolling_circle;
    animation-duration: 10s;
    margin-top: 100px;
}

.congrats_banner:before {
    content: "Congratulations";
    font-size: 2rem;
}

.congrats_banner {
	margin: 0 auto;
    display: block;
    text-align: center;
	line-height: 200px;
	animation-name: rolling_banner;
	animation-duration: 10s;
}
