/************* Header *************/

.navbar-right {
	margin-right: 2%;
}

.navbar-default {
	margin-bottom: 0;
}

/************* Logo **************/
.re_logo {
	color: #459806;
}

.three_logo {
	color: #2C8BDE;
}

.logo_text {
	font-size: 1.8rem;
}

.brand_logo {
	min-height: 35px;
	max-height: 35px;
}

/*************** Footer *****************/
footer {
	/*background-color: #ebd8c6;*/
	/*height: 10%;*/
	/*position: absolute;
	bottom: 0;*/
	width: 100%;
}

body {
	font-family: 'IM Fell Great Primer', serif;
	/*min-height: 960px;*/
}

a {
	cursor: pointer;
}