/***************** General *******************/

/*
    If these rules for your <body> tag will be common to all of your pages, it is more efficient to
    include it in a CSS file that you will include in all of your HTML files - i.e. header_footer.css
    or a new global.css file.
*/
body {
	text-align: center;
}

h2 {
	margin: 30px auto;
}

/*
    Bootstrap comes with a bunch of helper classes, including some to float left and right.
    Take a look at: http://getbootstrap.com/css/#helper-classes-floats
*/
.float_left {
	float: left;
	text-align: right;
}

.float_right {
	float: right;
	text-align: left;
}

.interaction_container {
  height: 80vh;
}

img {
  height: 100%;
}

.can_image_container {
  height: 15vh;
}

.arrow_image_container {
  height: 10vh;
}

.bottle_image_container {
  height: 10vh;
}

/****************** Text for the bottle ******************/
.bottle_container {
	font-size: 22px;
	margin: 10px auto 0 auto;
}

/****************** Arrows ******************/
.left_down_arrow img {
	-ms-transform: rotate(225deg); /* IE 9 */
  -webkit-transform: rotate(225deg); /* Chrome, Safari, Opera */
  transform: rotate(225deg);
}

.right_down_arrow img{
	-ms-transform: rotate(135deg); /* IE 9 */
  -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
  transform: rotate(135deg);
}

/* Spacing between the two transformed arrows */
.left_down_arrow, .right_down_arrow {
	padding: 0 50px;
}

@-webkit-keyframes arrow_pulse {
  from {
  	opacity: 1;
  } 
  to {
  	opacity: .25;
  }
}
@-moz-keyframes arrow_pulse {
  from {
  	opacity: 1;
  } 
  to {
  	opacity: .25;
  }
}
@-o-keyframes arrow_pulse {
  from {
  	opacity: 1;
  } 
  to {
  	opacity: .25;
  }
}
@keyframes arrow_pulse {
  from {
  	opacity: 1;
  } 
  to {
  	opacity: .25;
  }
}

#arrow {
  -webkit-animation: arrow_pulse 1s infinite alternate; /* Safari 4+ */
  -moz-animation:    arrow_pulse 1s infinite alternate; /* Fx 5+ */
  -o-animation:      arrow_pulse 1s infinite alternate; /* Opera 12+ */
  animation:         arrow_pulse 1s infinite alternate; /* IE 10+, Fx 29+ */
}





