/***************** General *******************/
body {
	text-align: center;
  color: #000;
}

.pesky_arrows_row {
  display: flex;
  justify-content: center;
}

h2 {
	margin: 30px auto;
}

.float_left {
	float: left;
	text-align: right;
}

.float_right {
	float: right;
	text-align: left;
}

.interaction_container {
  height: 550px;
}

img {
  height: 100%;
}

.can_image_container {
  height: 90px;
}

.container_row {
  display: flex;
  justify-content: center;
}

#reduce {
  margin: 0 auto;
  padding-right: 5px;
  height: 100%;
}

.arrow_image_container {
  height: 60px;
}

.bottle_image_container {
  height: 60px;
}

/****************** Text for the bottle ******************/
.bottle_container {
	font-size: 1.5em;
	margin: 10px auto 0 auto;
}

/****************** Arrows ******************/
.left_down_arrow img {
	-ms-transform: translateX(100%) rotate(225deg); /* IE 9 */
  -webkit-transform: translateX(100%) rotate(225deg); /* Chrome, Safari, Opera */
  transform: translateX(100%) rotate(225deg);
}

.right_down_arrow img{
	-ms-transform: rotate(135deg); /* IE 9 */
  -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
  transform: rotate(135deg);
}

/* Spacing between the two transformed arrows */
.left_down_arrow, .right_down_arrow {
	padding: 0 50px;
}

@-webkit-keyframes arrow_pulse {
  from {
  	opacity: 1;
  } 
  to {
  	opacity: .25;
  }
}
@-moz-keyframes arrow_pulse {
  from {
  	opacity: 1;
  } 
  to {
  	opacity: .25;
  }
}
@-o-keyframes arrow_pulse {
  from {
  	opacity: 1;
  } 
  to {
  	opacity: .25;
  }
}
@keyframes arrow_pulse {
  from {
  	opacity: 1;
  } 
  to {
  	opacity: .25;
  }
}

#arrow {
  -webkit-animation: arrow_pulse 1s infinite alternate; /* Safari 4+ */
  -moz-animation:    arrow_pulse 1s infinite alternate; /* Fx 5+ */
  -o-animation:      arrow_pulse 1s infinite alternate; /* Opera 12+ */
  animation:         arrow_pulse 1s infinite alternate; /* IE 10+, Fx 29+ */
}





